footer {
  background-color: $Background_2;
  padding-top: 20px;
  padding-bottom: 20px;

  .container {
    min-height: 250px;
    @include dFlex($flexDirection: column, $alignItems: start);

    h3 {
      font-size: 24px;
      font-weight: 600;
      margin: 15px 0;
      @include UPPERCASE();
    }

    li {
      min-width: 250px;
      @include dFlex();
    }

  }
}

@media (min-width: 768px) {
  footer {
    .container {
      min-height: 120px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
