header {
  height: $mobileHeaderHeight;
  background-color: $Background_2;
  max-width: 100%;
  @include dFlex();
  position: sticky;
  top: 0;

  .header-content {
    @include dFlex();
    width: 100%;

    .header-logo {
      @include dFlex();
      gap: 9px;
      color: $mainColor;
      line-height: 1.1;
      font-weight: 700;
      letter-spacing: -0.05em;
    }

    .nav-menu {
      display: none;

    }

    .burger-menu {
      @include dFlex(row, center);
      width: 32px;
      line-height: 32px;
      font-size: 50px;
      cursor: pointer;
    }

    .menu-ul {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      display: none;

      a {
        line-height: 33px;
        padding: 20px;
        display: block;
        color: $mainColor;
        font-size: 48px;
        border-bottom: 1px solid;
        cursor: pointer
      }
    }

    .menu-ul.open-menu {
      display: block;
    }
  }
}

@media (min-width: 768px) {

  header {
    .header-content {
      .nav-menu {
        display: block;

        ul {
          @include dFlex();
          gap: 60px;

          a {
            color: $mainColor;
            line-height: 110%;
            position: relative;
            padding-bottom: 4px;
          }

          a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0%;
            height: 2px;
            background: $Background_1;
            transition: width 300ms ease-in-out;
          }

          a:hover::after {
            width: 100%;
          }

          font-size: 15px;
        }
      }

      .burger-menu-container {
        display: none;

      }
    }

  }
}
