header {
  height: $mobileHeaderHeight;
  background-color: $Background_2;
  @include dFlex(_, _, stretch);

  .header-logo {
    display: flex;
    align-items: center;
    gap: 9px;
  }

  .burger-menu {
    width: 32px;
    height: 32px;
    font-size: 32px;
  }

}
