header {
  height: $mobileHeaderHeight;
  background-color: $Background_2;
  max-width: 100%;
  @include dFlex();
  position: sticky;
  top: 0;

  .header-content {
    @include dFlex();
    width: 100%;

    .header-logo {
      @include dFlex();
      gap: 9px;
      color: $mainColor;
      line-height: 1.1;
      font-weight: 700;
      letter-spacing: -0.05em;
    }

    .burger-menu {
      @include dFlex(row, center);
      width: 32px;
      line-height: 32px;
      font-size: 50px;
      cursor: pointer;
    }

    .menu-ul {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      display: none;

      a {
        line-height: 33px;
        padding: 20px;
        display: block;
        color: $mainColor;
        font-size: 48px;
        border-bottom: 1px solid;
        cursor: pointer
      }
    }

    .menu-ul.open-menu {
      display: block;
    }
  }
}
