@media (min-width: 768px) {


  main {
    .section {
      flex-direction: row;
      height: 300px;

      img {
        flex: 2;
        object-fit: cover;
        height: 100%;
      }

      .content {
        flex: 1;
        height: 100%;
        border: 1px solid;
      }
    }
  }
}
