main {
  .hero-header {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;

    span {
      color: $headLine_2;
    }
  }

  .hero-section {
    @include dFlex($flexDirection: column);

    img {
      object-fit: fill;
      width: 100%;
    }

    .hero-content {
      h2 {
        font-weight: 700;
        font-size: 25px;
        text-transform: uppercase;
      }
    }


  }
}
