main {
  .hero-header {
    @include UPPERCASE();
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;

    span {
      color: $headLine_2;
    }
  }

  .hero-section {
    @include dFlex($flexDirection: column);
    background-color: $Background_2;

    img {
      object-fit: fill;
      width: 100%;
    }

    .hero-content {
      @extend %content_base;

      a {
        color: $mainColor;
        @include UPPERCASE();
        font-weight: 700;
        line-height: 41px;
        margin: 0 17px;
      }
    }


  }
}
