@media (min-width: 768px) {
  .offer {
    flex-direction: row;
    height: 300px;

    img {
      height: 100%;
      object-fit: cover;
      order: 3
    }

    .content {
      height: 100%;
      border-right: 1px solid;
    }
  }

}
