@mixin dFlex($flexDirection: row, $justifyContent: space-between, $alignItems: center) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
