@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

//mixins
@mixin dFlex($flexDirection: row, $justifyContent: space-between, $alignItems: center) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin UPPERCASE() {
  text-transform: uppercase;

}

body {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  @include UPPERCASE();
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;

  span {
    color: $headLine_2;
  }
}

.section {
  @include dFlex($flexDirection: column);
  background-color: $Background_2;

  img {
    object-fit: fill;
    width: 100%;
  }

  .content {
    @extend %content_base;

    a {
      color: $mainColor;
      @include UPPERCASE();
      font-weight: 700;
      line-height: 41px;
      margin: 0 17px;
      margin-top: 20px;
      display: inline-block;
    }
  }


}




//extends
%content_base {
  padding-top: 20px;
  padding-bottom: 20px;

  h2 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 6px;
    @include UPPERCASE();
  }

  p {
    line-height: 20px;
  }

}
