@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

body {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

//mixins
@mixin dFlex($flexDirection: row, $justifyContent: space-between, $alignItems: center) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin UPPERCASE() {
  text-transform: uppercase;

}

//extends
%content_base {
  margin-top: 20px;
  margin-bottom: 30px;

  h2 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 6px;
    @include UPPERCASE();
  }

  p {
    line-height: 20px;
    margin-bottom: 20px;
  }

}
